body{
    margin:0;
    margin-top:10px;
    padding:0;
    background-image:url(photos/youthvolunteer.jpg);
}
.t_name{
 
    font-family:"Microsoft Yahei";
 
}
.sign_in{
    font-size:20px;
    font-weight:bold;
}

form{
    
    width:40%;  
    clear:both;
}
#name,#ps{
    
    border:1px solid ;
    width:45%;
    height:5%;
    
    
}

.btn{
    margin:6px;
    
    font-family:楷体_GB2312;
    
}
.btn:hover{
    color:#cccccc;
    background-color:#000000;
    
}

.botton{
    margin-left:20%;
    margin-right:10%;
}
.active{
    margin:0px;
    margin-left:37%;
    margin-right:38%;    
    line-height:2em;    
}
.active a{
    text-decoration: none;
    background: transparent;
    font-family:"Microsoft Yahei";
    color:black;
}
.active a:hover{
    color:blue;
}

