body{
    margin:0;
    margin-top:10px;
    padding:0;
    background-image:url(photos/youthvolunteer.jpg);
}
.t_name{
    width:100%;
    margin:0px;
    margin-bottom:15px;
    font-size:23px;
    font-family:"Microsoft Yahei";
}
.t_name h2{
    margin-top:-50px;
}
.sign_in{
    font-size:20px;
    font-weight:bold;
}
form{
    text-align:center;
    width:100%;  
    clear:both;
}
#name,#ps{
    border: 1px solid #C8C8C8;
    
    height: 26px;
    line-height: 26px;
    margin-right: 3px;
    padding: 3px;
    vertical-align: middle;
    width: 150px;
}
.field {
    margin:0px;
    height:50px;
    text-align: center;
    vertical-align: middle;
    clear:both;
}
.field .field_left{
    margin:0px;
    margin-right:10px;
    padding:1px;
    display:inline;
    height:50px;
    width:68px;
}

.field .field_right{
	margin:0px;
    padding:1px;
    display:inline;
    height:50px;
    width:200px;
}

.btn{
    font-family:楷体_GB2312;
}
.btn:hover{
    color:#cccccc;
    background-color:#000000;
    
}

.active{
    margin:0px;
    margin-left:37%;
    margin-right:38%;    
    line-height:2em;    
}
.active a{
    text-decoration: none;
    background: transparent;
	font-family:"楷体_GB2312";
    color:black;
}
.active a:hover{
    color:blue;
}
.active center{
    width:100%;
}
.mode a
{
     text-decoration: none;
    color:black;
}
.mode a:hover{
    color:blue;
}